.about-container {
  width: auto;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--main-color);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 28px;
  margin-bottom: 24px;
  color: #333;
  animation: slideIn 0.5s ease-in-out;
  text-decoration: underline;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

strong {
  font-weight: bold;
  color: #555;
  transition: color 0.5s ease-in-out;
}

strong:hover {
  color: #f44336;
}

.btn-projects,
.btn-resume {
  border: solid 1px rgb(67, 64, 64);
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-projects:hover,
.btn-resume:hover {
  background-color: var(--accent-color);
}
