/* Styling for the container */
.about {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Added transitions */
  animation: fadeIn 0.5s ease-in-out;
}

/* Keyframes animation for fading in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styling for the main heading */
h1 {
  font-size: 28px; /* Increased font size */
  margin-bottom: 24px; /* Increased margin */
  color: #333;
  animation: slideIn 0.5s ease-in-out;
}

/* Keyframes animation for sliding in */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Styling for paragraphs */
p {
  font-size: 18px; /* Increased font size */
  line-height: 1.6; /* Slightly adjusted line height */
  margin-bottom: 20px; /* Increased margin */
  animation: fadeIn 0.5s ease-in-out;
}

/* Styling for bold text */
strong {
  font-weight: bold;
  color: #555;
  transition: color 0.5s ease-in-out; /* Increased transition duration */
}

/* Hover effect for bold text */
strong:hover {
  color: #f44336;
}
