.home {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.container-home {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-projects,
.btn-resume {
  border: none;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #333;
}

/* Additional Styles */

a.btn-projects,
a.btn-resume {
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

a.btn-projects:hover,
a.btn:hover {
  background-color: #333;
}
