.navbar {
  background-color: darkviolet;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar__menu {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.navbar__link {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar__menu {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar__link {
    margin-bottom: 10px;
  }

  .navbar__logo {
    padding: 10px;
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Allow the height to adjust based on the width */
  }
}
