.navbar {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 15px;
  list-style: none;
}

.navbar__menu {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.navbar__link {
  border: solid 1px rgb(67, 64, 64);
  background-color: #ccc;
  padding: 10px;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
}



@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar__menu {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar__link {
    margin-bottom: 10px;
  }

  .navbar__logo {
    padding: 10px;
    width: 30px;
    height: auto;
  }
}

.navbar__link:hover {
  color: whitesmoke;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .navbar__menu {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
