
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  background: var(--projects-bg-color);
  padding: 20px; 
}


.project {
  width: 300px;
  margin: 20px 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--project-card-bg-color);
  color: var(--project-text-color);
  text-align: center; 
  border-radius: 5px;
}

.project:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h3 {
  font-size: 18px;
  margin: 10px 0;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project p {
  font-size: 14px;
  margin-bottom: 10px;
}


.project .btn-group {
  display: flex;
  justify-content: center;
  
   
}


.btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--project-button-bg-color);
  color: var(--project-button-text-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 0 5px; 
}

.btn:hover {
  background-color: var(--project-button-hover-bg-color);
}

.btn svg {
  margin-right: 5px;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.project-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.project-enter-active {
  opacity: 1;
  transform: translateY(0);
  animation: fade-in 0.5s ease;
}
