:root {
    --main-color: #3498db;      
    --secondary-color: #c792dc;
    --accent-color: #bdc3c7;    
    --main-gradient: linear-gradient(90deg, #3498db, #9b59b6); 
  --accent-gradient: radial-gradient(circle, #bdc3c7, #3498db); 

}

*{
    font-family: 'Roboto Slab';
    margin: auto;
    box-sizing: border-box;


}


.loading {
    display:flex;
    justify-content: center;
    color:lime;
    font-size:50px;
    margin-top: 50px;
   

}